@font-face { /* 애플산돌고딕 폰트 적용 */
    font-family: "Segoe UI";
    src: url("../fonts/Segoe UI.ttf") format("truetype");
    font-weight: normal;
}

header {
    height: 88px;
    background-color: rgb(249,250,251);
    box-shadow: 0 4px 4px #e1e1e1;
}

header > .container {
    height: 100%;
    display: flex;
    align-items: center;
}

#main-logo {
    color: #212121;
    font-size: 1.25rem;
    font-family: 'Segoe UI', 'Roboto', serif;
}

#main-logo > a {
    color: #212121;
}

#login-container {
    margin-left: auto;
}

#profile-img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 64px;
    box-shadow: -2px 2px 4px #bebebe;
}