.app-icon-text-cont {
    margin-top: 64px;
    margin-bottom: 32px;
    display: flex;
    align-items: center;
}

.app-icon-text-cont > h1 {
    margin-left: 16px;
    color: #333333;
}

#app-icon {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid #e3e3e3;
}

.edit-container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 8px;
}

.edit-container > h3 {
    margin-top: 16px;
    border-bottom: 1px solid black;
    padding-bottom: 16px;
    padding-left: 16px;
    font-weight: bold;
}

.edit-input-area {
    margin: 32px;
    display: flex;
    flex-wrap: wrap;
}

#save-button {
    background-color: #1890FF;
}
